<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>

    <!--
        element入门使用步骤 ：
            1.引入vue.js、引入element的js文件和css文件
            2.创建vue对象 指定vue的使用区域
            3.官网复制粘贴代码放到vue的使用区域中
    -->
    <div id="app">


        <!--表单-->
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="当前状态">
                <el-select v-model="formInline.status" placeholder="当前状态">
                    <el-option label="启用" value="1"></el-option>
                    <el-option label="禁用" value="0"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="企业名称">
                <el-input v-model="formInline.companyName" placeholder="企业名称"></el-input>
            </el-form-item>
            <el-form-item label="品牌名称">
                <el-input v-model="formInline.brandName" placeholder="品牌名称"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
        </el-form>

        <!--按钮-->
        <el-row>
            <el-button type="danger" plain>批量删除</el-button>
            <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>
        </el-row>


        <!--表格-->
        <!--
            el-table标签：表格标签
                :data属性：设置表格显示数据
                el-table-column：表格的列
                    prop：设置当前列数据绑定
                    label：列名
                    width：列的宽度
        -->
        <template>
            <el-table
                    :data="tableData"
                    style="width: 100%"
                    :row-class-name="tableRowClassName"
                    @selection-change="handleSelectionChange">
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        type="index">
                </el-table-column>
                <el-table-column
                        prop="brandName"
                        label="品牌名称"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="companyName"
                        label="企业名称"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="ordered"
                        label="排序"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="status"
                        label="当前状态"
                        align="center">
                </el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button
                                size="small"
                                type="primary"
                                @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                        <el-button
                                size="small"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </template>

        <!--分页工具栏-->
        <!--
            :current-page：当前页码
            :page-sizes：每页显示条数下拉选项值
            :page-size：每页显示条数
            layout：布局
            :total：总条数
            element中的分页工具栏 会自动根据总条数和每页显示条数 计算总页数
        -->
        <template>
            <div class="block">
                <el-pagination
                        background
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[5, 10, 15, 20]"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total">
                </el-pagination>
            </div>
        </template>

        <!--对话框-->
        <el-dialog
                title="编辑品牌"
                :visible.sync="dialogVisible"
                width="30%"
                :before-close="handleClose">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="品牌名称" prop="brandName">
                    <el-input v-model="ruleForm.brandName"></el-input>
                </el-form-item>
                <el-form-item label="企业名称" prop="companyName">
                    <el-input v-model="ruleForm.companyName"></el-input>
                </el-form-item>
                <el-form-item label="排序" prop="ordered">
                    <el-input v-model="ruleForm.ordered"></el-input>
                </el-form-item>
                <el-form-item label="备注" prop="description">
                    <el-input type="textarea" v-model="ruleForm.description"></el-input>
                </el-form-item>
                <el-form-item label="状态" prop="status">
                    <el-switch v-model="ruleForm.status" :active-value="1" :inactive-value="0"></el-switch>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                    <el-button @click="resetForm('ruleForm')">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

    </div>

    <script>
        new Vue({
            el:"#app",
            data:{
                //对话框数据模型
                dialogVisible: false,
                ruleForm: {
                    brandName: '',
                    companyName: '',
                    status: '',
                    ordered: '',
                    description: ''
                },
                //表单校验规则
                rules: {
                    brandName: [
                        { required: true, message: '请输入品牌名称', trigger: 'blur' },
                        { min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur' }
                    ],
                    companyName: [
                        { required: true, message: '请输入企业名称', trigger: 'blur' },
                    ]
                },

                //分页工具栏相关数据模型
                currentPage:1,
                pageSize:5,
                total:100,

                // 查询表单数据模型
                formInline: {
                    status: '',
                    companyName: '',
                    brandName:''
                },

                // 表格数据模型
                tableData: [{
                    brandName: '小米',
                    companyName: '小米科技有限公司',
                    ordered: 10,
                    status:"启用"
                }, {
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: 1,
                    status:"禁用"
                }, {
                    brandName: '小米',
                    companyName: '小米科技有限公司',
                    ordered: 10,
                    status:"启用"
                }, {
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: 1,
                    status:"禁用"
                }]
            },
            methods:{
                //设置表格隔行变色
                tableRowClassName({row, rowIndex}) {
                    if (rowIndex === 1) {
                        return 'warning-row';
                    } else if (rowIndex === 3) {
                        return 'success-row';
                    }
                    return '';
                },
                //表格复选框多选事件函数
                handleSelectionChange(val) {
                    console.log(val);;
                },
                //点击表格修改按钮事件函数
                handleEdit(index, row) {
                    console.log(index, row);

                    //row：表示的就是当前行数据
                    //将当前行数据赋值到对话框表单输入框中
                    this.ruleForm.brandName = row.brandName;
                    this.ruleForm.companyName = row.companyName;
                    this.ruleForm.status = row.status;
                    this.ruleForm.ordered = row.ordered;
                    this.ruleForm.description = row.description;

                    //弹出编辑品牌对话框
                    this.dialogVisible = true;
                },
                //点击表格删除按钮事件函数
                handleDelete(index, row) {
                    console.log(index, row);
                },
                //点击查询按钮提交事件函数
                onSubmit() {
                    console.log('submit!');
                },
                //每页显示条数发生改变触发的函数
                handleSizeChange(val) {
                    console.log(`每页 ${val} 条`);
                    this.pageSize = val;
                },
                //当前页码发生改变触发的函数
                handleCurrentChange(val) {
                    console.log(`当前页: ${val}`);
                    this.currentPage = val;
                },
                //点击对话框右上角的×  清空对话框数据，隐藏对话框
                handleClose(done) {
                    //清空对话框数据
                    this.ruleForm.brandName = '';
                    this.ruleForm.companyName = '';
                    this.ruleForm.status = 0;
                    this.ruleForm.ordered = '';
                    this.ruleForm.description = '';

                    //隐藏对话框
                    this.dialogVisible = false;
                },
                //对话框表单提交按钮事件函数
                submitForm(formName) {
                    //对表单根据指定的校验规则 进行校验  校验通过 进行提交
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            //数据校验通过
                            console.log(this.ruleForm);
                        } else {
                            //数据校验失败
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                //对话框表单取消按钮事件函数
                resetForm(formName) {
                    //this.$refs[formName].resetFields();
                    //清空对话框数据
                    this.ruleForm.brandName = '';
                    this.ruleForm.companyName = '';
                    this.ruleForm.status = 0;
                    this.ruleForm.ordered = '';
                    this.ruleForm.description = '';

                    //隐藏对话框
                    this.dialogVisible = false;
                }
            }
        });
    </script>
</body>
</html>