<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎注册</title>
    <link href="css/register.css" rel="stylesheet">
</head>
<body>

<div class="form-div" id="app">

    <div class="reg-content">
        <h1>欢迎注册</h1>
        <span>已有帐号？</span> <a href="login.html">登录</a>
    </div>
    <form id="reg-form" action="#" method="get">

        <table>

            <tr>
                <td>用户名</td>
                <td class="inputs">
                    <input name="username" type="text" id="username" v-model="user.username" onblur="checkUsername(this)">
                    <br>
                    <span id="username_err" class="err_msg" style="display: block"></span>
                </td>

            </tr>

            <tr>
                <td>密码</td>
                <td class="inputs">
                    <input name="password" type="password" id="password" v-model="user.password">
                    <br>
                    <span id="password_err" class="err_msg" style="display: none">密码格式有误</span>
                </td>
            </tr>
            <tr>
                <td>验证码</td>
                <td class="inputs">
                    <input name="checkCode" type="text" id="checkCode">
                    <img src="imgs/a.jpg">
                    <a href="#" id="changeImg">看不清？</a>
                </td>
            </tr>

        </table>
        <div class="buttons">
            <!--需要修改type="submit"为type="button" ： 因为表单的action属性优先级比较高-->
            <input value="注 册" type="button" id="reg_btn" @click="fun01()">
        </div>
        <br class="clear">
    </form>
</div>

    <script src="js/vue.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <script>
        function checkUsername(obj) {
            //1.获取请求参数【注册用户名】
            var username = obj.value;
            console.log(username);

            //2.发送ajax请求 携带参数
            axios.get("userServlet?username="+username).then(function (response) {
                //response参数：名称可以随便起  表示后台响应信息，包含响应头和响应数据
                //response.data：得到响应数据 “true”--自动转换-->true  “false”--自动转换-->false
                if(response.data){
                    document.getElementById("username_err").innerHTML = "<font color='red'>用户名太受欢迎了</font>";
                }else{
                    document.getElementById("username_err").innerHTML = "<font color='green'>用户名可以使用</font>";
                }
            });
        }

        new Vue({
            el:"#app",
            data:{
                user:{
                    "username":"",
                    "password":""
                }
            },
            methods:{
                fun01:function () {
                    //1.获取请求参数  this.user
                    //2.发送ajax请求 携带json格式参数一般都使用post方式比较好
                    axios.post("register",this.user).then(function (response) {
                        if(response.data){
                            alert("注册成功");
                            //1.跳转到用户列表页面显示
                            location.href = "login.html";
                        }else{
                            alert("注册失败");
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>